div{
    float: left;
    padding: 20px;
}
/*#main {
    alignment: center;
}*/
h1{
    color:darkblue ;
    text-align: center;
}


body
{
    background-color: black;
    background-image: url("../images/backPic.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

tbody{
    height: 30px;
    overflow: scroll;
}

select option {
    border: 2px solid blue ;
}

table{
    border-collapse: collapse;
    border: 2px solid black ;

}

input#del {

}

#selPlayers tr th {

}

table th{
    font-size: 30px;
    background-color: blue;
    color: #b8d1f3;
    padding: 5px;
    border:2px solid black ;
}


table td{
    font-size: 20px;
    border: 2px solid black ;
    border-collapse: collapse;
    //text-align: center;
}


table tr:nth-child(even)
{
    background-color: #dae5f4;
}

table tr:nth-child(odd)
{
    background-color: #b8d1f3;
}

select option{
    size: 200px;
}

input[type='checkbox']{
    display: none;
}
